@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playwrite+IN&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
:root{
  font-family:'Comfortaa', sans-serif;
  

}

/* Apply Anton font to headings
h1, h2, h3 {
  font-family: 'Anton', sans-serif;
}

/* Apply Playwrite IN font to paragraphs */
/* p {
  font-family: 'Playwrite IN', cursive;
} */

/* Optional: Apply to specific classes */
/* .special-heading {
  font-family: 'Anton', sans-serif;
} */

/* .handwritten-text {
  font-family: 'Playwrite IN', cursive;
} */ 